<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UpdateChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UpdateChecker.Properties.Settings>
            <setting name="BaseURL" serializeAs="String">
                <value>http://127.0.0.1/misc/updater-test/</value>
            </setting>
            <setting name="VersionFile" serializeAs="String">
                <value>version</value>
            </setting>
            <setting name="LocalVersionFile" serializeAs="String">
                <value>version</value>
            </setting>
            <setting name="UpdateFile" serializeAs="String">
                <value>update.zip</value>
            </setting>
        </UpdateChecker.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
